<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#" style="padding-left: 10px;" routerLink="/home">kelime kartları</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item" *ngIf="this.authService.isLoggedIn">
                <a class="nav-link" routerLinkActive="active" routerLink="/user-profile">User Profile</a>
            </li>
            <li class="nav-item" *ngIf="this.authService.isLoggedIn">
                <a class="nav-link" routerLinkActive="active" routerLink="/home">Home</a>
            </li>
            <li class="nav-item"  *ngIf="this.authService.isLoggedIn">
                <a class="nav-link" routerLinkActive="active" routerLink="/log-in">Sign-in</a>
            </li>
            <li class="nav-item" *ngIf="!this.authService.isLoggedIn">
                <a class="nav-link" routerLinkActive="active" routerLink="/sign-up">Sign-up</a>
            </li>
            <li class="nav-item" *ngIf="this.authService.isLoggedIn">
                <a class="nav-link" href="#" (click)="logout()">Logout</a>
            </li>
        </ul>
    </div>
</nav> -->

<header class=" bg-dark text-white p-3">
    <div class="container-fluid">
        <div class="d-flex  justify-content-center justify-content-lg-start ">
            <h1 class="text-white mx-3" routerLink="/home">kelime kartları</h1>
            <ul class="nav col-12 col-lg-auto me-lg-auto  justify-content-center ">
                <li *ngIf="this.authService.isLoggedIn"><a href="#" class="nav-link px-2 text-white"
                        routerLink="/home">Home</a></li>
            </ul>

            <div class="text-end">
                <ul class="nav col-12 col-lg-auto me-lg-auto  justify-content-center ">
                    <li *ngIf="this.authService.isLoggedIn"><a class="nav-link px-2 text-white"
                            routerLinkActive="active" routerLink="/user-profile">User Profile</a></li>
                    <li *ngIf="!this.authService.isLoggedIn">
                        <!-- <a class="nav-link px-2 text-white" routerLinkActive="active"
                            routerLink="/log-in">Sign-in</a> -->
                        <button type="button" class="btn btn-outline-light me-2" routerLink="/log-in">Login</button>
                    </li>
                    <li *ngIf="!this.authService.isLoggedIn">
                        <!-- <a class="nav-link px-2 text-white" routerLinkActive="active"
                            routerLink="/sign-up">Sign-up</a> -->
                        <button type="button" routerLink="/sign-up" class="btn btn-warning">Sign-up</button>
                    </li>
                    <li *ngIf="this.authService.isLoggedIn">
                        <a class="btn btn-danger px-2 text-white" (click)="logout()">Logout</a>
                    </li>
                </ul>

                <!-- <button type="button" class="btn btn-outline-light me-2">Login</button>
                <button type="button" class="btn btn-warning">Sign-up</button> -->
            </div>

        </div>
    </div>

</header>

<!-- <header class="p-3 bg-dark text-white">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="#" class="nav-link px-2 text-secondary">Home</a></li>
          <li><a href="#" class="nav-link px-2 text-white">Features</a></li>
          <li><a href="#" class="nav-link px-2 text-white">Pricing</a></li>
          <li><a href="#" class="nav-link px-2 text-white">FAQs</a></li>
          <li><a href="#" class="nav-link px-2 text-white">About</a></li>
        </ul>

        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
          <input type="search" class="form-control form-control-dark" placeholder="Search..." aria-label="Search">
        </form>

        <div class="text-end">
          <button type="button" class="btn btn-outline-light me-2">Login</button>
          <button type="button" class="btn btn-warning">Sign-up</button>
        </div>

      </div>
    </div>
  </header> -->