<div class="col-12 mt-5">
    <div *ngIf="dataLoaded == false" class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
    <div class="col-12">



    </div>
    <div>
        <div class="col-3">

        </div>

        <ng-generate *ngFor="let k of kartlar;index as i">
            <div class="col-12">

                <div class="container">
                    <div class="slide-wrapper">

                        <app-slider [isIn]="current === i" [left]="isLeftTransition(i)">
                            <div class="tp-wrapper">
                                <div class="tp-box" (click)="toggleFlip()" [@flipState]="flip">
                                    <div class="tp-box__side tp-box__front"> {{k.onYuz }}
                                    </div>
                                    <div class="tp-box__side tp-box__back"> {{k.arkaYuz }}
                                    </div>
                                </div>
                            </div>
                        </app-slider>
                    </div>
                </div>
            </div>
        </ng-generate>

        <div class="col-12 d-flex justify-content-center align-items-center">
            <a (click)="onPrev()" class="previous round">&#8249;</a>
            <a (click)="onNext()" class="next round">&#8250;</a>
        </div>

    </div>
</div>